/* modern normalize start */
*,
::after,
::before {
  box-sizing: border-box;
}
html {
  -moz-tab-size: 4;
  tab-size: 4;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
hr {
  height: 0;
  color: inherit;
}
abbr[title] {
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo,
    monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
table {
  text-indent: 0;
  border-color: inherit;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
select {
  text-transform: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
:-moz-focusring {
  outline: 1px dotted ButtonText;
}
:-moz-ui-invalid {
  box-shadow: none;
}
legend {
  padding: 0;
}
progress {
  vertical-align: baseline;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
summary {
  display: list-item;
}
/* modern normalize end */

@font-face {
  font-family: flix;
  src: url("./Flix-Normal.ttf");
}
:root {
  font-size: calc(0.625rem + 0.4vw);
}
* {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
$content-background: white;
$edit-blue-color: #317dad;
.btn {
  align-items: center;
  background-color: $content-background;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  cursor: pointer;
  text-decoration: none;
  transition: all 250ms;
  &:hover,
  &:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
    & > .edit-section-img {
      opacity: 0.65;
    }
  }
  &:active {
    transform: scale(0.97);
  }
}
/* Body */
body,
#root,
.App {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #f4f4f5;
}
/* Header */
header {
  .hero {
    font-family: flix;
    letter-spacing: 0.5rem;
    color: cornflowerblue;
  }
}
/* Main */
main {
  flex: 1;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media (orientation: portrait) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  //   @media (max-aspect-ratio: 4/3) {
  //    grid-template-columns: 1fr;
  //   grid-template-rows: 1fr 1fr;
  // }
  .sections-container {
    @media (max-width: 600px) {
      font-size: 0.8rem;
    }
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    .section {
      display: flex;
      flex-direction: column;
      gap: 3px;
    }
    justify-self: end;
    @media (orientation: portrait) {
      justify-self: center;
    }
    width: 70%;
    margin: 2rem;
    .section-header-wraper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: $content-background;
      padding: 0.5rem 1.5rem;
      border-radius: 5px;
      box-shadow: 0 0 20px 0px #00000021;
      .edit-section-btn {
        display: flex;
        gap: 7px;
        font-size: 1.3rem;
        padding: 0.3rem 1rem;
        .edit-section-img {
          height: 1.5rem;
          width: 1.5rem;
        }
      }
    }
    .expandable-section {
      cursor: pointer;
      .direction-img {
        height: 2rem;
      }
    }
    .section-content-wraper {
      background: $content-background;
      border-radius: 5px;
      box-shadow: 0 0 20px 0px #00000021;
      padding: 2rem;
      .personal-details-name {
        margin: 0;
      }
    }
    .personal-details-section {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 1rem 2rem;
      img.personal-photo {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
      }
      h4,
      h5 {
        margin: 0;
      }
    }
    .section-edit {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      padding: 2rem 10%;
      .description-input {
        grid-column: 1 / -1;
      }
      .input {
        display: flex;
        position: relative;
        input,
        textarea {
          width: 100%;
          border: none;
          &#description-input,
          &#experience-description-input {
            border: 2px solid #e5e7eb;
          }
          border-bottom: 2px solid #e5e7eb;
          transition: all 200ms;
          &:focus,
          &:not(:placeholder-shown) {
            & ~ label {
              transform: translateY(-90%);
              opacity: 1;
            }
          }
          &:focus {
            outline: none;
            border-bottom: 2px solid $edit-blue-color;
          }
          // &.date-input:not(:placeholder-shown) {
          //   & ~ label {
          //     opacity: 0.4;
          //   }
          // }
          // &.date-input:valid {
          //   & ~ label {
          //     opacity: 1;
          //   }
          // }
        }

        label {
          opacity: 0.5;
          transition: all 200ms;
          font-weight: bold;
          position: absolute;
          &::after {
            content: " (optional)";
            font-weight: 100;
            opacity: 0.4;
            font-size: 0.8rem;
          }
        }
      }
      .edit-btns {
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding: 0 1rem;
        gap: 1rem;
        button {
          border-color: $edit-blue-color;
          height: 3rem;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;
        }
      }
      .photo-input {
        label {
          margin-right: 0;
          font-weight: bold;
          &::after {
            content: " (optional)";
            font-weight: 100;
            opacity: 0.4;
            font-size: 0.8rem;
          }
        }
      }
    }
    .expandable-section.expanded {
      & ~ div {
        opacity: 1;
        height: auto;
        padding: 2rem 10%;
        & .btn {
          display: flex;
        }
      }
    }
    .education-details-section,
    .section-edit,
    .experience-details-section {
      display: grid;
      grid-template-rows: auto auto;
      transition: all 1s;
      opacity: 0;
      height: 0;
      overflow: hidden;
      padding: 0;
      &.personal-datails-edit {
        height: auto;
        opacity: 1;
        padding: 2rem 10%;
      }

      .add-education-btn,
      .add-experience-btn {
        border-color: $edit-blue-color;
        height: 3rem;
        width: 10rem;
        justify-self: center;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        display: none;
        .add-img {
          height: 1.3rem;
        }
      }
    }
  }
  .education-edit.section-edit {
    display: grid;
    grid-template: repeat(5, auto) / repeat(2, 46%);
    .degree-input,
    .school-input,
    .edit-btns {
      grid-template-columns: 1fr 2fr;
      grid-column: 1 / -1;
      img {
        height: 1.6rem;
      }
    }
    .education-edit-btns {
      grid-template-columns: 1fr 1fr 2fr;
      @media (max-width: 600px) {
        grid-template-columns: 1fr 1fr;
        .education-confirm-btn {
          grid-column: 1/ -1;
        }
      }
    }
    .date-input-wraper {
      margin-top: 0.6rem;
    }
  }
  .education-list,
  .experience-list {
    ul {
      list-style: none;
      padding: 0;
      li {
        border-top: 1px solid darkgrey;
        padding: 0.5rem 0;
        display: grid;
        grid-template: repeat(2, 1fr) / auto auto 1fr auto;
        gap: 3px;
        .school,
        .job-title {
          font-weight: bold;
          color: #215270;
          grid-row: 1;
          grid-column: 1;
        }
        .degree,
        .employer {
          grid-column: 2 / 3;
          color: #215270;
        }
        .start-date {
          grid-row: 2;
        }
        .end-date {
          grid-row: 2;
        }
        .country {
          grid-row: 2;
        }
        .edit-education-btn {
          grid-column: 4 / span 1;
          grid-row: 1 / span 2;
          padding: 0.5rem;
          > img {
            height: 2rem;
          }
        }
      }
    }
  }
  .experience-details-section {
    .edit-experience-btn {
      grid-row: 1 / span 2;
      padding: 0.5rem;
      > img {
        height: 2rem;
      }
    }
  }
  .add-experience-section.section-edit,
  .Experience-edit.section-edit {
    display: grid;
    grid-template: repeat(5, auto) / repeat(2, 46%);
    .job-title-input,
    .employer-input {
      grid-column: 1 / -1;
    }
    .date-input-wraper {
      margin-top: 0.6rem;
    }
    .edit-btns {
      grid-column: 1 / -1;
    }
  }
  .Experience-edit.section-edit {
    .edit-btns.Experience-edit-btns {
      grid-template-columns: 1fr 1fr 2fr;
      @media (max-width: 600px) {
        grid-template-columns: 1fr 1fr;
        .Experience-confirm-btn {
          grid-column: 1/ -1;
        }
      }
      img {
        height: 1.6rem;
      }
    }
  }
  label {
    margin-right: -3px;
  }
  .preview-container {
    font-size: 0.8rem;
    @media (max-width: 600px) {
      font-size: 0.6rem;
    }
    background: $content-background;
    margin: 2rem;
    aspect-ratio: 1 / 1.4;
    border-radius: 5px;
    box-shadow: 0 0 20px 0px #00000021;
    .preview-header {
      .resume-photo {
        height: 5em;
        width: 5em;
        border-radius: 50%;
        margin-top: 2rem;
      }
      h2.preview-fullname {
        margin-bottom: 0.2rem;
      }
      h3.preview-job-title {
        font-weight: normal;
      }
      display: flex;
      flex-direction: column;
      align-items: center;

      .preview-job-title {
        margin: 0 0 0.5rem 0;
      }
      .preview-general-info {
        display: flex;
        gap: 1rem;
        span {
          display: flex;
          align-items: center;
          gap: 5px;
        }
      }
      .preview-education,
      .preview-experience {
        width: 80%;
        .preview-education-header,
        .preview-experience-header {
          width: 100%;
          border-bottom: 1px solid;
          margin-bottom: 0;
        }
        .preview-education-list,
        .preview-experience-list {
          list-style: none;
          padding-left: 0;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          li {
            display: grid;
            grid-template: auto 1fr / auto 1fr;
            gap: 2px 3rem;
            .date {
              grid-column: 1;
              grid-row: 1;
            }
            .degree-name,
            .job-title-name {
              font-weight: bold;
            }
          }
        }
      }
      .preview-general-img {
        height: 1rem;
      }
    }
  }
}

/* Footer */
footer {
  opacity: 0.8;
  background-color: #24292f;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: fit-content;
  width: 100%;
  padding-bottom: 3px;
}
a {
  display: flex;
}
footer img {
  height: 2rem;
  width: 2rem;
  filter: brightness(0) invert(1);
}
footer a {
  text-decoration: none;
  color: white;
}
footer a:hover {
  transform: scale(1.1);
}
